<?xml version="1.0" encoding="utf-8"?>
<manifest>
  <!-- associated schema -->
  <schema id="<%= props.schema %>" />
  <!-- associated onboarding module -->
  <onboarding id="<%= props.onboarding %>"><%- props.stubOnboardingArgs %>
  </onboarding>
  <!-- associated voice handler -->
  <voice id="" />
</manifest>